*{
	margin: 5px;
	padding: 0px;
	
	  font-family: "ubuntu", sans-serif;
	  font-weight: 700;
	  font-style: normal;
}




body {
	background: linear-gradient(-45deg, black, #212529, #343A40, #6c757D, #ADB5BD, white);
	background-size: 300% 300%;
	animation: gradient 12s linear infinite;
	height: auto;

  
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

header h1 a{
	color: white;
	font-size: 40px;
	padding-left: 20px;
	text-decoration: none;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar{
	display: flex;
    align-items: center;
	list-style: none;

	justify-content: center;
	margin-right: 24%;

}

.navbar ul{
	display: flex;
	gap: 240px;
	list-style: none;
}

.navbar li a, .email{
	text-decoration: none;
	color: white;
	position: relative;
	font-size: 20px;
}

.home-page-items{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 200px;
	gap: 7%;

}


.home-page h1{
	color: white;
	font-size: 70px;
	font-weight: bold;
	display: flex;
	

}

.slide-right {
	width: 100%;
	overflow: hidden;
  }
  
  .slide-right h1 {
	animation: 1.5s slide-right 1.5s forwards;
	  transform:translate(-100%);
  }
  
  @keyframes slide-right {
	to {
	  transform:translateX(0);
	}
  }

  .slide-left {
	overflow: hidden;
  }
  
  .slide-left p {
	animation: 2.2s slide-left 2.2s forwards;
	transform:translateX(110%);
  }
  
  @keyframes slide-left {
	to {
	  transform:translateX(0);
	}
  }

  

.myavatar{
	height: 300px;
	width: 300px;
	background-color: white;
	border-radius: 180px;
	margin-left: 70px;
	box-shadow: 5px 5px 40px;
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}



.home-page-items p{
	font-size: 28px;
	font-weight: lighter;
	color: white;
	flex-direction: column;
}

.text-icons-home-page{
 display: flex;
 flex-direction: column;
}

.icons-home-page{
	flex-direction: row;
	width: 100%;
  overflow: hidden;
  max-width: 500px;
}

.icons-home-page a{
	display: inline-block;
	opacity: 0;
	animation: 2s slide-up 2s forwards;
	transform: translateY(100%);
}

@keyframes slide-up {
  to {
    transform: translateY(0);
    opacity: 1; 
  }
}

.icons-home-page a:nth-child(1) {
	animation-delay: 0.2s; 
  }
  
  .icons-home-page a:nth-child(2) {
	animation-delay: 0.4s; 
  }
  
  .icons-home-page a:nth-child(3) {
	animation-delay: 0.6s; 
  }


.instagram-icon{
	width: 80px;
	height: 80px;
	transition: transform 0.5s;
}

.github-icon, .linkedin-icon{
	width: 70px;
	height: 70px;
	margin-bottom: 10px;
	transition: transform 0.5s;
}


.github-icon:hover, .instagram-icon:hover, .linkedin-icon:hover {
  transform: scale(1.2) ;
}


.about-me-items{
	display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me-items h1, .contact-items h1, .work h1, .aboutme-page {
color: white;
font-size: 40px;
font-weight: bolder;
text-align: center;
margin-top: 200px;
margin-bottom: 120px;
}

.about-me-items p, .contact-items p{
	font-size: 28px;
	color: white;
	font-style: normal;
	text-align: center;
	
}

.about-me-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.work-right {
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-bottom: 50px;
	gap: 5%;
	margin-top: 200px;
}

.work-right-text {
	margin-right: 20px;
	max-width: 600px;
}

.work-right-text h2{
font-size: 50px;
color: white;
}

.work-right-text p{
	font-size: 25px;
	color: #fff;
}

.pink-goose-image, .mastermind-image, .website-image{
	box-shadow: 0px 0px 10px black;
}

.work-left {
    display: flex;
    align-items: center; 
    justify-content: center;
	flex-direction: row-reverse;
    margin-bottom: 50px;
	gap: 5%;
	margin-top: 200px;
}

.work-left-text {
	margin-right: 20px;
	max-width: 600px;
}

.work-left-text h2{
font-size: 50px;
color: white;
}

.work-left-text p{
	font-size: 25px;
	color: #fff;
}


.hidden {
	opacity: 0;
	transition: all 1s ease-in-out;
	transform: translateY(20px);
	filter: blur(1px);
}

.hidden.show{
	opacity: 1;
	transform: translateY(0);
	filter: blur(0px);
}

.navbar li a:hover, .email:hover{
color: #fff;
}

.navbar li a::before, .email::before{
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	transform: scaleX(0);
	transition: transform 0.3s ease;
	background-color: #fff; 

}

.navbar li a:hover::before, .email:hover::before{
	transform: scaleX(1);
	
  }

 .website-image{
	box-shadow: 0px 0px 10px black;
	object-fit: cover;
}

.contact{
	display: flex;
    flex-direction: column;
    align-items: center;
}

.email{
	margin-bottom: 200px;
}

.aboutme-page{
	margin-top: 50px;
}
